In [1]:
students = ['qudisa', 'alok', 'hari', 'monika', 'suneel']

In [2]:
print(students)

['qudisa', 'alok', 'hari', 'monika', 'suneel']

In [8]:
cars = ['maruthi', 'bmw', 'audi', 'benz', 'toyata']
print(cars)

['maruthi', 'bmw', 'audi', 'benz', 'toyata']

In [10]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'maruthi', 'toyata']

In [11]:
print(cars)

['maruthi', 'bmw', 'audi', 'benz', 'toyata']

In [12]:
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'maruthi', 'toyata']

In [13]:
print(cars)

['audi', 'benz', 'bmw', 'maruthi', 'toyata']

In [14]:
len(cars)

5

In [15]:
print(cars)

['audi', 'benz', 'bmw', 'maruthi', 'toyata']

In [16]:
cars.reverse()
print(cars)

['toyata', 'maruthi', 'bmw', 'benz', 'audi']

In [17]:
print(cars)

['toyata', 'maruthi', 'bmw', 'benz', 'audi']

In [18]:
my_students = ['suraj', 'venu', 'shabana', 'lakshmi', 'ganesh', 'hari', 'monika', 'shravya']
print(my_students)

['suraj', 'venu', 'shabana', 'lakshmi', 'ganesh', 'hari', 'monika', 'shravya']

In [19]:
print(my_students[0:2])

['suraj', 'venu']

In [20]:
print(my_students[2:4])

['shabana', 'lakshmi']

In [21]:
print(my_students[4:6])

['ganesh', 'hari']

In [22]:
print(my_students[6:8])

['monika', 'shravya']

In [23]:
print(my_students[0:8:2])

['suraj', 'shabana', 'ganesh', 'monika']